@import './values.scss';

.article-list {
      @extend .flex-column;
      margin-bottom: 50px;
}

.article-item {
      width: 50%;
      height: auto;
      padding: 20px 0 0 0;
      margin-bottom: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #d1d1d1;
      background-color: $primary-background;
      transition-property: box-shadow, border-radius, background-color;
      transition-duration: .2s, .2s, .2s;
      transition-timing-function: ease-in-out;
      position: relative;

      a {
            @extend .flex-column;
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: center;
            box-sizing: border-box;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
            margin: 10px 0 20px 0;
            padding: 0;
      }

      &:hover {
            background-color: var(--color-bg-hover);
            border-bottom: 1px solid transparent;
            border-radius: 5px;
            box-shadow: $primary-shadow;
      }

      .post-meta {
            width: 100%;
            height: auto;
            color: #555;
            font-size: 14px;
            font-family: Helvetica;
            margin-bottom: 1.2rem;
            @extend .flex-column;

            .post-time {
                  margin-bottom: .4rem;
            }
      }

      .detail {
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px 10px;
            border-bottom: 1px solid #e6e6e6;

            h1 {
                  padding-bottom: .4rem;
                  position: relative;

                  &::before {
                        width: 0;
                        height: 100%;
                        content: ' ';
                        border-bottom: ridge $word-color-blue-light;
                        position: absolute;
                        right: 50%;
                        bottom: 0;
                        transition: width .2s ease;
                  }

                  &::after {
                        width: 0;
                        height: 100%;
                        content: ' ';
                        border-bottom: ridge $word-color-blue-light;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transition: width .2s ease;
                  }

                  &:hover::before,
                  &:hover::after {
                        width: 52%;
                  }
            }

            .detail-item {
                  width: auto;
                  height: auto;
                  display: block;

                  span {
                        min-width: 60px;
                        height: 30px;
                        color: #2A80B9;
                        font-size: 13px;
                        text-align: center;
                        padding: 5px 12px;
                        margin: 6px 8px;
                        box-sizing: border-box;
                        border: 1px solid #2A80B9;
                        border-radius: 20px;
                        display: block;
                        float: left;
                  }
            }

            .article-content {
                  display: none;
            }
      }
}

@media screen and (max-width: 1024px) {
      .article-list {
            margin-bottom: 20px;
      }

      .article-item {
            width: 80%;
      }
}

@media screen and (max-width: 768px) {
      .about {
            margin: 0;
      }

      .article-list {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;

            .article-item {
                  width: 100%;
            }
      }
}