@import './values.scss';

.blog-header {
      @extend .flex;
      z-index: 20;
      width: 100%;
      height: 60px;
      background-color: $primary-background;
      box-sizing: border-box;
      border-bottom: 1px solid #d1d1d1;
      transition: all .2s cubic-bezier(1, 0.03, 1, 1.04);
      position: sticky;
      top: 0;
      left: 0;

      button {
            font-size: 16px;
            color: $word-color;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
      }

      .bar-item {
            @extend .flex;
            width: 100px;
            height: 100%;
            cursor: pointer;
            transition: all .2s ease-in-out;

            a {
                  @extend .flex;
                  width: 100%;
                  height: 100%;
                  text-decoration: none;
            }

            &:hover {
                  background-color: $word-color;

                  button {
                        color: white;
                  }
            }
      }

      &.home {
            position: fixed;
      }
}

.tool-bar {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .tool-bar-1,
      .tool-bar-2,
      .search {
            height: 100%;
            display: flex;
            align-items: center;
      }
}

.navigation-bar {
      width: var(--bar-width);
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.bar-list {
      @extend .flex;
      width: 100px;
      height: 100%;
      cursor: pointer;
      transition: all .2s ease-in-out;
      overflow: hidden;

      &:hover {
            .bar-item-list {
                  border: 1px solid #d1d1d1;
                  transform: translateY(209px);
                  opacity: 1;

                  .bar-item {
                        color: $primary-background;
                  }
            }
      }

      .bar-item-list {
            z-index: -5;
            width: 100px;
            height: 360px;
            border: 1px solid transparent;
            box-sizing: border-box;
            background-color: $primary-background;
            transition: all .3s ease-out;
            transform: translateY(-400px);
            opacity: 0;
            @extend .flex-column;
            position: absolute;

            &.show {
                  border: 1px solid #d1d1d1;
                  transform: translateY(209px);
                  opacity: 1;

                  .bar-item {
                        color: $primary-background;
                  }
            }
      }

      &:hover {
            background-color: $word-color;
            color: $primary-background;
      }
}

.blog-header.hide {
      background-color: transparent;
      border-bottom: 1px solid transparent;

      button {
            color: white;
      }

      .bar-item {
            &:hover {
                  background-color: $primary-background;

                  button {
                        color: $word-color;
                  }
            }
      }

      .bar-list {
            color: white;

            &:hover {
                  color: $word-color;
                  background-color: $primary-background;
            }
      }

      .bar-item-list {
            background-color: transparent;
      }

      .title {
            color: $primary-background;
      }

      .show-list {
            color: $primary-background;
      }
}

@media screen and (max-width: 768px) {
      .search-box input {
            background-color: transparent;

            &.focused {
                  background-color: #fff;
            }
      }
}