@import './values.scss';

::-webkit-scrollbar {
      width: 12px;
      height: 12px;
}

::-webkit-scrollbar-track {
      background-color: #8080803f;
      // box-shadow: inset 0 0 3px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
      // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
      background-color: #bebebe;
}

html {
      scroll-behavior: smooth;
}

body {
      margin: 0;
      padding: 0;
      background-color: $primary-background;
      color: $word-color;
}

a {
      text-decoration: none;

      &:focus {
            outline: none;
      }
}

p,
li {
      // font-family: 'KaiTi_GB2312';

      line-height: 1.8;

      img {
            border-radius: 2px;
            box-shadow: 0 2px 6px #cfcfcf;
      }

      a {
            color: $word-color-blue;

            &:hover,
            &:active {
                  color: $word-color-blue-light;
            }
      }

      &:hover>a {
            opacity: 1;
      }

      &>code {
            color: #E96900;
            background-color: #F5F2F0;
            margin: 0;
            padding: 2px 6px;
      }
}

h1,
h2,
h3,
h4,
h5,
h6 {
      color: $word-color;
      margin-top: -3.1rem;
      padding-top: 4.6rem;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 1.5;

      a {
            color: $word-color;
            // font-size: ;
            opacity: 0;
            float: left;
            margin-left: -.87em;
            padding-right: .23em;
            margin-top: .125em;
            text-decoration: underline;

            &:hover,
            &:active {
                  color: $word-color-light;
            }

            &:focus {
                  outline: none;
            }
      }

      &:hover>a {
            opacity: 1;
      }
}

h1 {
      font-size: 1.8rem;
      font-weight: bold;
}

h2 {
      font-size: 2rem;
      border-bottom: 1px solid $white;
}

h3 {
      font-size: 1.6rem;
}

h4 {
      font-size: 1.2rem;
}

a h2 {
      border-bottom: none;
}

ul {
      line-height: 1.7;
      word-wrap: break-word;
      white-space: normal;
}

table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      empty-cells: show;

      thead {
            background-color: #e0e0e0;
            color: #000;
            vertical-align: bottom;
      }

      td,
      th {
            height: 40px;
            border: 1px solid #cbcbcb;
            padding: 10px 20px;
            box-sizing: border-box;
      }
}

code {
      font-size: 16px;
}

blockquote {
      color: #333;
      margin: 10px 5px;
      padding: 10px 16px;
      border-left: 5px solid $word-color-blue-light;
      box-sizing: border-box;
      background-color: rgba(0, 120, 231, .05);

      p {
            margin: 0;
      }
}

.content__default,
.content__abstract {
      width: 100%;

      img {
            width: 100%;
      }
}

.go-to-top {
      color: #2A80B9 !important;
      animation: show .5s ease-in-out forwards;
}

.fade-leave-to {
      animation: fade .5s ease-in-out forwards;
}

@keyframes show {
      from {
            transform: rotateZ(180deg);
      }

      to {
            transform: rotateZ(0deg);
      }
}

@keyframes fade {
      from {
            transform: rotateZ(0deg);
      }

      to {
            transform: rotateZ(180deg);
      }
}

.custom-block {
      width: auto;
      height: auto;
      border-left: 0.5rem solid #2A80B9;
      margin-top: 20px;
      padding: 20px 25px;
      background-color: #e9e9e9;

      .custom-block-title {
            font-weight: 600;
            font-size: 18px;
            margin-top: 5px;
      }

      p {
            margin-bottom: 8px;
      }
}

@media screen and (max-width: 768px) {
      .extra-class {
            position: relative;
            margin: .85rem -2rem;

            pre {
                  border-radius: 0px;
            }
      }
}

.line-numbers-mode {
      position: relative;

      pre[class*="language-"] {
            border-radius: 3px;
            padding: 1em 1rem 1rem 4.2rem;
      }

      .line-numbers-wrapper {
            min-width: 3.6rem;
            color: #979797;
            box-sizing: border-box;
            padding: 1rem .6rem;
            line-height: 19pt;
            text-align: center;
            border-radius: 3px 0 0 0;
            border-right: 1px solid #0E0F12;
            background-color: #2D2D2D;
            position: absolute;
            top: 0;
            left: 0;
      }
}