.v[data-class=v] {
    img {
        box-shadow: none;
    }
    .vwrap {
        border: 1px solid #d1d1d1;

        .vemojis {
            max-height: 200px;

            i {
                width: 56px;
                height: 56px;
                margin: 4px;
                padding: 0;
                border-radius: 4px;

                img {
                    margin: 4px;
                }

                &:hover {
                    background-color: #ddd;
                }
            }
        }

        .vheader .vinput:focus {
            border-bottom: solid 1px #00a1d6;
        }
    }

    .vcards .vcard {
        .vhead .vnick {
            font-weight: bold;
            color: #6d757a;

            &:hover {
                color: #00a1d6;
            }
        }

        .vh .vmeta .vat {
            width: 40px;
            height: 30px;
            color: #99a2aa;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: #00a1d6;
                background-color: #e5e9ef;
            }
        }
    }

    a {
        color: #00a1d6;
    }

    .emoji,
    .vemoji {
        max-width: 50px;
    }

    .veditor {
        min-height: 5.75em;
        resize: none;
    }

    .vbtn {
        width: auto;
        height: 40px;
        font-size: 16px;
        color: white;
        border: none;
        background-color: #00A1D6;

        &:hover {
            color: white;
            border: none;
            background-color: #00B5E5;
        }
    }
}