:root {
      --color-bg: #F9F9F9;
      --color-bg-hover: #F6F6F6;
      --color-shadow-left: rgba(255, 255, 255, 1);
      --color-shadow-right: rgba(0, 0, 0, 0.1);
}

:root .dark {
      --color-bg: #3a3a3a;
      --color-shadow-left: #424242;
      --color-shadow-right: #323232;
}

$primary-background: var(--color-bg);

$primary-shadow: 3px 3px 8px #a3a3a3,
-3px -3px 8px #ffffff;

$card-shadow: 0 0 10px 1px #cfcfcf;

$card-shadow-hover: 0 0 15px 1px #cfcfcf;

$button-shadow: 15px 15px 18px calc(--color-shadow-right),
-15px -15px 18px calc(--color-shadow-left);

$button-shadow-hover: 6px 6px 12px calc(--color-shadow-right),
-6px -6px 12px calc(--color-shadow-left);

$button-shadow-active: 0px 0px 0px calc(--color-shadow-right),
0px 0px 0px calc(--color-shadow-left),
inset 10px 10px 18px calc(--color-shadow-right),
inset -15px -15px 18px calc(--color-shadow-left);

$word-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
-5px -5px 5px calc(--color-shadow-left);

$word-color:#2c3e50;

$word-color-light:#546c85;

$word-color-blue: #2A80B9;

$word-color-blue-light: #59bdff;

$cloud-z-index: 8;

$cyan: #78D3D4;
$green: #A9D4AC;
$magenta: #D6ADD4;
$yellow: #FDD27C;
$blue: #77ACD3;
$black: #555555;
$white: #d4d4d4;
$colors: ("cyan": $cyan, "green": $green, "magenta": $magenta, "yellow": $yellow, "blue": $blue, "black": $black, "white": $white);

.flex {
      display: flex;
      justify-content: center;
      align-items: center;
}

.flex-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}